<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

	<meta property="og:title" content="CodeWalker Academy" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://codewalker.academy/{{asset "images/codewalker-dragon.png"}}" />
	<meta property="og:url" content="http://codewalker.academy/" />
	<meta property="og:description" content="Learn to code without quiting your day job." />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="CodeWalker Academy" />
	<meta name="twitter:description" content="Learn to code without quiting your day job." />
	<meta name="twitter:image" content="http://codewalker.academy/{{asset "images/codewalker-dragon.png"}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "images/codewalker-dragon.png"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap-theme.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/codewalker.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

	<script src="{{asset "js/bootstrap.min.js"}}"></script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{navigation}}

    <div class="container-fluid" style="padding-top: 50px;">

        {{! Everything else gets inserted here }}
        {{{body}}}

    </div>

	{{> "footer"}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
