{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<div class="row" {{#if @blog.cover}} style="height: 600px;background: url({{@blog.cover}}) bottom center repeat{{else}}no-cover{{/if}}">
    <div class="vertical">
        <div class="codewalker-header">
            <h1 class="page-description">{{@blog.description}}</h1>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</div>

<div class="container">
	<div class="row">
		{{#foreach posts}}
			<div class="container {{post_class}}">
				<header class="post-header">
					<h2 class="post-title">{{{title}}}</h2>
				</header>
				<section class="post-excerpt">
					<p>{{content}}</p>
				</section>
			</div>
		{{/foreach}}
		<br>
	</div>
</div>

{{! The main content area on the homepage }}
<!--<div class="container">-->

    {{! The tag below includes the post loop - partials/loop.hbs }}
    <!--{{!> "loop"}}-->

<!--</div>-->
