{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
</header>

<main class="content" role="main">
    <article class="{{post_class}}">

        <div class="row">
			<div class="codewalker-header">
				<h1 class="post-title">{{title}}</h1>
				<section class="post-meta">
					<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
				</section>
			</div>
        </div>

        <div class="container">
			<h2></h2>
            {{content}}
        </div>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            {{#if image}}
            <div class="media">
				<img title="{{name}}" class="media-object" src="{{image}}" />
			</div>
            {{/if}}

            <section class="author">
                <h4>{{name}}</h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p></p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>

        {{/author}}

            <!--<section class="share">-->
                <!--<h4>Share this post</h4>-->
                <!--<a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"-->
                    <!--onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">-->
                    <!--<span class="hidden">Twitter</span>-->
                <!--</a>-->
                <!--<a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"-->
                    <!--onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">-->
                    <!--<span class="hidden">Facebook</span>-->
                <!--</a>-->
                <!--<a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"-->
                   <!--onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">-->
                    <!--<span class="hidden">Google+</span>-->
                <!--</a>-->
            <!--</section>-->

        </footer>

    </article>
</main>

{{/post}}
