a {
	color: #87bf3c !important;;
}

.navbar a {
	color: #9d9d9d !important;
}

.navbar a:hover {
	color: #fff !important;
}

.codewalker-header {
	text-align: center;
	padding: 50px 0;
	background-color: #87bf3c;
	color: #fff;
	padding-bottom: 55px;
}

.codewalker-footer {
	background-color: #009447;
	color: #fff;
	padding-top: 50px;
}

.copyright {
	border-top: 5px solid rgba(255, 255, 255, 0.1);
	text-align: center;
	margin-top: 50px;
}