<footer id="footer" class="codewalker-footer">
	<div class="container">
		<div id="sidebar-footer-1">
			<div class="row">
				<aside class="widget col-sm-4 col-sm-6">
					<h4 class="widget-title">Mission</h4>
					<p>Make learning to code more accessible to more people.</p>
				</aside>
				<aside class="widget col-sm-4 col-sm-6">
					<h4 class="widget-title">Contact Us</h4>
					<div class="textwidget">
						<div>Admissions: <a class="url" href="mailto:admissions@codewalker.academy">admissions@codewalker.academy</a>
						</div>
						<div>Alumni Relations: <a class="url" href="mailto:alumni@codewalker.academy">alumni@codewalker.academy</a>
						</div>
						<div>Support: <a class="url" href="mailto:support@codewalker.academy">support@codewalker.academy</a>
						</div>
					</div>
				</aside>
				<aside class="widget col-sm-4 col-sm-12">
					<h4 class="widget-title">Who we are</h4>
					<div><a class="url" href="https://www.linkedin.com/in/michaelvstanton" target="_blank">Michael V. Stanton PhD.</a></div>
					<div><a class="url" href="https://www.linkedin.com/pub/zeke-swepson/4/294/6bb" target="_blank">Zeke Swepson</a></div>
				</aside>
			</div>
		</div>
		<div class="copyright">
			<h3></h3>
			<section><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
			<section>Proudly published with <a href="https://ghost.org">Ghost</a></section>
		</div>
	</div>
</footer>