<h2></h2>
{{! This is the post loop - each post will be output using this markup }}
<div class="list-group">
{{#foreach posts}}
<div class="list-group-item {{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
        {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
        {{author}}
        {{tags prefix=" on "}}
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </footer>
</div>
{{/foreach}}
</div>

{{! Previous/next page links - displayed on every page }}
<div class="pull-right">
	{{pagination}}
</div>
