<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{@blog.url}}">
				<img class="pull-left" src="{{asset "images/codewalker-dragon.png"}}" style="height: 50px; padding-right: 10px; margin-top: -15px;" />
				{{@blog.title}}
			</a>
		</div>
		<div class="navbar-collapse">
			<ul class="nav navbar-nav">
				{{#foreach navigation}}
					<li class="nav-{{slug}}{{#if current}} active{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
				{{/foreach}}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="navbar-right">
					<button class="btn btn-danger" onclick="window.location='/application/'" style="margin-top: 7px;">Apply Now!</button>
				</li>
			</ul>
		</div>
	</div>

</nav>

